.env
.venv
venv/
orchestration_agent/.env
orchestration_agent/data
*.db

*.log
.DS_Store
__pycache__
.cursorrules
big_picture.md

__pycache__
.vscode/
output/
*.png
*.html

orchestration_agent/tools/inventory_manager/output

orchestration_agent.egg-info/
